<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <!--HttpServerUrl       : Http服务器的Key  -->
  <!--SocketServerIP      : Socket服务器的Key-->
  <!--SocketTcpServerPort ; Tcp端口号-->
  <!--SocketUdpServerPort : Udp端口号-->
  <appSettings>
    <add key="HttpServerUrl" value="http://192.168.1.6:8080/"/>
    <add key="SocketServerIP" value="192.168.1.6"/>
    <add key="SocketTcpServerPort" value="11060"/>
    <add key="SocketUdpServerPort" value="11080"/>
  </appSettings>
</configuration>
